@import url("https://fonts.googleapis.com/css2?family=Average&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Special+Elite&display=swap");

/*-- Body and Sticky footer from Materialize --*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Average", serif;
}
main {
  flex: 1 0 auto;
}
body p {
  line-height: 1.8;
}
.special {
  font-size: 120%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.full-width {
  width: 100%;
  max-width: initial;
}
/*-- Flash Messages --*/
.flashes h4 {
  line-height: 2;
}

/*-- Navbar --*/
.nav-extended li > a {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding-right: 1em;
  font-size: 1.2em;
}
.brand-logo {
  margin-left: 1.2em;
  font-family: "Special Elite", cursive;
  font-size: 2.5em !important;
}
.sidenav {
  width: 60%;
  padding-top: 3.1em;
  text-align: center;
  background-color: #4db6ac;
}
.sidenav li > a {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #f4f4f4 !important;
}

/* -- Footer -- */
.social-links {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.social-links .fa-3x {
  display: inline-block;
  margin: 0.3em 0.6em;
  float: none !important;
}
.social-links a i {
  color: white;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.social-links a i:hover {
  color: #616161;
}

/*-- Home Page --*/
.pt {
  padding-top: 0.6em;
}
.info {
  margin-bottom: 0.5em;
}

/*-- Search Section --*/
.section-search input {
  padding: 0.3em !important;
  font-size: 1.2em !important;
  width: 100% !important;
  border: #f4f4f4 3px solid !important;
  background-color: #f4f4f4 !important;
  margin: 0 auto;
  position: absolute i !important;
}
.input-field {
  padding: 0;
}
.search-btn {
  height: 3.75em;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1em;
}

/*-- No Results --*/
.no-results {
  padding-bottom: 2em;
}

/*-- Parallax Section --*/
.parallax-container {
  object-fit: cover;
}

/*-- Account Page --*/
/*-- Delete Confirmation Modal --*/
.btn-small {
  margin: 0.6em;
}
.modal-btn {
  margin: 0.5em !important;
}

/*-- Glossary Page --*/
/*-- Alphabetical Filter --*/
.filter-card {
  width: 100%;
  margin: 0 auto;
}
.filter-heading {
  font-size: 120%;
  font-weight: 500;
  color: black;
}

/*-- 404 and 500 Error Pages --*/
.error-card {
  margin-top: 3em;
}

/*--Media Queries--*/
@media (max-width: 576px) {
  body p {
    line-height: 1.6;
  }
  .brand-logo {
    margin-left: 0.7em;
    font-size: 1.8em !important;
  }
  .sidenav {
    width: 75%;
    padding-top: 3em;
  }
  .search-btn {
    height: 3.75em;
    margin-right: 0.4em;
    max-width: 100%;
  }
  .card-panel {
    padding-bottom: 1em;
  }
  .filter-card {
    width: 100%;
    padding: 0;
  }
  .pt {
    padding-top: 0.3em;
  }
  .error-card {
    min-width: 80%;
  }
}
