@import url("https://fonts.googleapis.com/css2?family=Average&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Special+Elite&display=swap");

/*-- Styles used accross all Pages --*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
body p {
  line-height: 1.8;
}
.special {
  font-size: 120%;
}
.full-width {
  width: 100%;
  max-width: initial;
}
.pt {
  padding-top: 0.6rem;
}

/*-- Navbar and Sidenav --*/
.nav-extended li > a {
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  padding-right: 1rem;
  font-size: 1.2em;
}
.brand-logo {
  margin-left: 1.2rem;
  font-family: "Special Elite", cursive;
  font-size: 2.5em !important;
}
.sidenav {
  width: 60%;
  padding-top: 3.1rem;
  text-align: center;
  background-color: #009688;
}
.sidenav li > a {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #f4f4f4 !important;
}

/*-- Sticky Footer from Materialize --*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Average", serif;
}
main {
  flex: 1 0 auto;
}

/*-- Footer Social Links --*/
.social-links {
  width: 100%;
  list-style-type: none;
  display: flex;
  text-align: center;
}
.social-links .fa-3x {
  display: inline-block;
  margin: 0.3rem 0.6rem;
  float: none !important;
}
.social-links a i {
  color: white;
  transition: all 0.5s ease-out;
}
.social-links a i:hover {
  color: #616161;
}

/*-- No Results Message --*/
.no-results {
  padding-bottom: 2rem;
}

/*-- Flash Message --*/
.flashes h4 {
  line-height: 2;
}

/*-- Styles Sorted by Pages --*/
/*-- Home Page --*/
.info {
  margin-bottom: 0.5rem;
}

/*-- Search Section --*/
.section-search input {
  padding: 0.3rem !important;
  font-size: 1.2em !important;
  width: 100% !important;
  border: #f4f4f4 3px solid !important;
}
.search-btn {
  height: 4rem;
  width: 100%;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*-- Parallax Section --*/
.parallax-container {
  object-fit: cover;
}

/*-- Account Page --*/
/*-- Delete Confirmation Modal --*/
.btn-small {
  margin: 0.6rem;
}
.modal-btn {
  margin: 0.5rem !important;
}

/*-- Glossary Page --*/
/*-- Alphabetical Filter --*/
.filter-card {
  width: 100%;
  max-width: 100%;
}
.filter-heading {
  font-size: 120%;
  font-weight: 500;
  color: black;
  padding-top: 1rem;
  font-style: italic;
}

/*-- 404 and 500 Error Pages --*/
.error-card {
  margin-top: 3rem;
}

/*--Media Queries--*/
@media (max-width: 576px) {
  body p {
    line-height: 1.6;
  }
  .brand-logo {
    margin-left: 0.7rem;
    font-size: 1.8em !important;
  }
  .sidenav {
    width: 75%;
    padding-top: 3rem;
  }
  .card-panel {
    padding-bottom: 1rem;
  }
  .filter-card {
    width: 100%;
    padding: 0;
  }
  .pt {
    padding-top: 0.2rem;
  }
  .error-card {
    min-width: 80%;
  }
}
