{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<h3 class="center-align">Add your new word here</h3>
<h6 class="center-align">Before you add your new word, have a look at this chart! It will help you decide whether to
    submit your word.</h6>
<!-- Card Panel -->
<div class="row card-panel grey lighten-5">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('insert_term') }}">
        <!-- Card Panel Image (taken from www.macmillandictionary.com)-->
        <div class="row">
            <div class="col s12 center-align">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='img/card-chart.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Card Panel Input Term Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen-alt prefix"></i>
                <input id="term_name" name="term_name" minlength="3" maxlength="50" type="text"
                    class="materialize-input validate" required>
                <label for="term_name">What's your word?</label>
            </div>
        </div>
        <!-- Card Panel Input Term Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-sticky-note prefix"></i>
                <textarea id="term_description" name="term_description" class="materialize-textarea validate"
                    minlength="5" data-length="500" required></textarea>
                <label for="term_description">What does it mean?</label>
            </div>
        </div>
        <!-- Card Panel Submit Button -->
        <div class="row">
            <button class="col s4 offset-s4 btn btn-large waves-effect waves-light amber accent-3 center-align"
                type="submit">Submit
            </button>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="center-align">
                    Thank you for helping us keep WD Buzzwords up to date!
                </p>
            </div>
        </div>
    </form>
</div>

{% endblock %}
