{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>Glossary of Terms</h2>
    <div class="container card card-panel filter-card grey lighten-5 pt">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                    <h5 class="center-align filter-header"><strong>Filter Results</strong></h5>
                    {% set letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    {% for letter in letters %}
                    <button class="col s1 first-letter waves-effect waves-light btn-small amber accent-3 z-depth-2">{{ letter
                        }}</button>
                    {% endfor %}
            </div>
        </div>
    </div>
    {% if terms|length > 0 %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                {% for term in terms %}
                    <div class="row">
                        <a href="{{ url_for('get_terms') }}"></a>
                        <div class="section left-align">
                            <h5><strong>{{ term.term_name }}</strong></h5>
                            <p>{{ term.term_description }}</p>
                            <p><em>Added by: {{term.added_by }}</em></p>
                        </div>
                        <div class="divider"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="col s12 m6 offset-m3 pt">
            <h3 class="col s10 red-text left-align pt">No Matching Results Found</h3>
            <a href="{{ url_for('get_terms') }}"
                class="col s2 btn btn-large left-align waves-effect waves-light amber accent-3">Browse Terms</a>
        </div>
    {% endif %}
</div>

    {% endblock %}