{% extends "base.html" %}
{% block content %}

<div class="parallax-container">
      <div class="parallax">
          <img src="{{ url_for('static', filename='img/hero-image.jpg') }}">
          <div class="caption center-align">
                <h3 class="grey-text text-darken-3">Complete WD Buzzwords' Glossary of Web Design
                    Terminology
                </h3>
                <h5 class="grey-text text-darken-3 hide-on-small-only">Here's our small slogan.</h5>
            </div>
        </div>
    </div>



<!-- Search Section -->
<section id="search" class="section section-search teal darken-1 white-text center scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Search WD Buzzwords</h3>
                <div class="input-field">
                    <input type="text" class="white grey-text autocomplete" id="autocomplete-input"
                    placeholder="Agile, Bootstrap, etc...">
                </div>
            </div>
        </div>
    </div>
</section>

   
{% endblock %}
