{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Sign Up</h3>

<!-- Sign Up Form -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
        <div class="card-panel">
            <!-- Username-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix grey-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username (5-15 alphanumeric characters)</label>
                </div>
            </div>
            <!-- Passsword -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix grey-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password (5-15 alphanumeric characters)</label>
                </div>
            </div>
            <!-- Sign Up Button-->
            <div class="row">
                <button class="col s12 m4 offset-m4 btn btn-large waves-effect waves-light amber accent-3" type="submit"
                    name="action">Submit
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Redirect link to Log In Page -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already have an account?
            <a href="{{ url_for('login') }}" class="teal-text text-accent-4">Log In</a>
        </p>
    </div>
</div>

{% endblock %}
