{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h2>Glossary</h2>
        <div class="divider"></div>
        {% for term in terms %}
        <div class="divider"></div>
        <div class="row">
            <div class="section left-align">
                <h5><strong>{{ term.term_name }}</strong></h5>
                <p>{{ term.term_description }}</p>
                <p><em>Added by: {{term.added_by }}</em></p>
                <div class="fixed-action-btn">
                    <a href="#" class="btn-floating waves-effect waves-light teal accent-1 btn-small right"><i
                            class="far fa-heart"></i></a>
                    <ul>
                        <li><a href="#" class="btn-floating btn-small red"><i class="fas fa-save"></i></a></li>
                        <li><a href="#" class="btn-floating btn-small yellow"><i class="fas fa-share-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}