{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">SS</h3>
    <div class="divider"></div>

    <!-- Card Panel -->
    <div class="row card-panel grey lighten-5">
        <div class="col m8 offset-m2 s12" method="POST" action="{{ url_for('view_term', term_id=term._id) }}">
            
            <!-- Favorite Button -->
            <div class="row">
                <!-- <button class="col s4 offset-m2 btn btn-large waves-effect waves-light amber accent-3 center-align"
                    type="submit">Add To Favorites
                </button> -->
                <!-- Go Back Button-->
                <a href="{{ url_for('get_terms') }}" class="col s4 offset-m2 btn btn-large waves-effect waves-light amber accent-3 center-align">Go Back</a>
                <button class="col s4 offset-m2 btn btn-large waves-effect waves-light amber accent-3 center-align"
                    type="submit">Submit
                </button>
            </div>
        </div>
    </div>
{% endblock %}
